.fondo{
    width: 100%;
    height: 1000px;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5a80c996-2710-4a92-8814-344169c0bdbf/d8xglt7-2582f791-04dc-4eb7-83db-fe9941be322a.png/v1/fill/w_1280,h_720,q_80,strp/wallpaper_oficial_de_dragon_ball_super__2015___by_dwowforce_d8xglt7-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNWE4MGM5OTYtMjcxMC00YTkyLTg4MTQtMzQ0MTY5YzBiZGJmXC9kOHhnbHQ3LTI1ODJmNzkxLTA0ZGMtNGViNy04M2RiLWZlOTk0MWJlMzIyYS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.mraymwM-sZXSW_C1dzjrCIYJ9JkE8y7zMImWM7A407c);
    background-size: cover;
    
}