.img {
    width: 300px;
    height: 450px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name{ 
    text-align: center;
    font-size: 35px;
    color: aliceblue;
}

.card {
    background-image: url("https://e.rpp-noticias.io/large/2018/03/09/5760601jpg.jpg");
    background-position: center;
    background-size: cover;
}

.btn {
    position: relative;
    right: 150px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(255, 221, 0);
}

.enlace {
    color: black;
}