.header{
  position: sticky;
  top:0;
  background-color: rgb(255, 157, 0);
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.link {
  font-size: 50px;
  color: white;
}

.active{
  color:red;
}